html {
    font-family: "Open Sans", sans-serif;
}
a, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
}

.page-info{
    margin: 50px;
    border-left: thick solid #198754;
}

.content-info{
       margin: 30px;
}

.break-all {
    word-break: break-all;
}

.center-in-td {
    vertical-align: middle;
}
